.drange {
	border-radius: 10px;
	display: flex;
	height: 14px;
	justify-content: center;
	margin: 10px 0;
	position: relative;
	text-align: left;
	width: calc(100% - 28px);
}

.drange::before,
.drange .range {
	background-color: blue;
	border-radius: 14px;
	height: 14px;
	left: 0;
	position: absolute;
}

.drange::before {
	background-color: lightgray;
	/* border-radius: 10px; */
	content: "";
	display: block;
	/* margin: 0 7px; */
	width: calc(100% + 28px);
}

.drange .range {
	transform: translateX(14px);
}

.drange .lthumb,
.drange .rthumb {
	background-color: gray;
	border: 2.5px solid lightgray;
	border-radius: 50%;
	/* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4); */
	box-sizing: border-box;
	content: "";
	cursor: pointer;
	height: 28px;
	outline: none;
	position: absolute;
	text-align: left;
	top: -7px;
	width: 28px;
	z-index: 2;
}

.drange input[type=range] {
	filter: alpha(opacity=0);
	height: 14px;
	-khtml-opacity: 0;
	left: 0px;
	margin: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-moz-opacity: 0;
	opacity: 0;
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	width: calc(100% + 28px);
	z-index: 3;
}

.drange input[type=range]::-ms-track,
.drange input[type=range]::-moz-range-track,
.drange input[type=range]:focus::-webkit-slider-runnable-track {
	background-color: transparent;
	border: transparent;
}

.drange input[type=range]::-ms-track {
	-webkit-appearance: none;
}

.drange input[type=range]::-moz-range-track {
	-moz-appearance: none;
}

.drange input[type=range]:focus {
	outline: none;
}

.drange input[type=range]::-ms-thumb {
	background-color: red;
	border-radius: 0px;
	border: 0 none;
	height: 28px;
	pointer-events: all;
	width: 28px;
}

.drange input[type=range]::-moz-range-thumb {
	background-color: red;
	border-radius: 0px;
	border: 0 none;
	height: 28px;
	pointer-events: all;
	width: 28px;
}

.drange input[type=range]::-webkit-slider-thumb {
	background-color: red;
	border-radius: 0px;
	border: 0 none;
	height: 28px;
	pointer-events: all;
	width: 28px;
}

.drange input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

.drange input[type=range]::-ms-fill-lower,
.drange input[type=range]::-ms-fill-upper {
	background: transparent;
	border: 0 none;
}

.drange input[type=range]::-ms-tooltip {
	display: none;
}