body {
	background-color: #000080;
	color: white;
	font-family: sans-serif;
	font-size: 2vw;
	margin: 0;
	padding: 0;
}

input {
	font-size: inherit;
}

button {
	background-color: #4cb050;
	border: 0;
	border-radius: 0.5em;
	color: inherit;
	font-size: inherit;
	padding: 0.75vw 1vw;
	text-transform: uppercase;
}

a {
	color: #4cb050;
}

.hidden {
	opacity: 1;
	visibility: hidden;
}



header {
	align-items: center;
	background-color: #101060;
	display: flex;
	height: calc(3em + 20px);
	justify-content: space-between;
	/* padding: 1.5vw 2vw; */
	padding: 0 15px;
}

header h1 {
	color: #4cb050;
	margin: 0;
}

header label {
	display: block;
}



main {
	display: grid;
	grid-template-columns: 1fr 100vw;
	height: calc(100vh - 4em - 40px);
	overflow: hidden;
}

nav {
	background-color: #303080;
	height: inherit;
	margin-left: -20vw;
	opacity: 1;
	/* overflow: auto; */
	position: relative;
	transition: margin 500ms ease, opacity 500ms ease-in-out;
	width: 20vw;
	z-index: 1;
}

nav::before {
	border-bottom-style: solid;
	border-bottom-width: calc(3vw / 5);
	border-color: #5050e0;
	border-top-style: double;
	border-top-width: calc(3vw * 3 / 5);
	/* border-bottom: calc(3vw / 5) solid white;
	border-top: calc(3vw * 3 / 5) double white; */
	box-sizing: border-box;
	content: "";
	display: block;
	height: 3vw;
	margin: 0;
	position: absolute;
	right: -3vw;
	top: 0;
	transition: inherit;
	transition-property: right, width;
	transition-delay: 50ms;
	width: 3vw;
}

nav:hover,
nav.hover {
	margin: 0;
}

nav.hover::before,
nav:hover::before {
	right: 0;
	width: 0;
}

#info {
	display: flex;
	justify-content: space-between;
}


#map {
	width: 100vw;
	z-index: 0;
}



#overlay {
	background-color: inherit;
	height: 100vh;
	left: 0;
	opacity: 1;
	overflow: auto;
	position: absolute;
	top: 0;
	transition: opacity 500ms ease-in;
	width: 100vw;
	z-index: 3;
}

#overlay .title {
	font-size: 3vw;
	padding: 1vw 0;
	text-align: center;
}

#overlay button {
	position: absolute;
	top: 1vw;
	right: 1vw;
}



footer {
	align-items: center;
	background-color: #101060;
	display: flex;
	height: calc(1em + 20px);
	justify-content: space-between;
	/* padding: 1.5vw 2vw; */
	padding: 0 15px;
}

#version {
	position: absolute;
	text-align: center;
	width: 96%;
}

@media only screen and (max-width: 1080px) {
	/* body {
		font-size: 1.5vw;
	}



	header {
		height: calc(3.25em + 20px);
	}



	main {
		height: calc(100vh - 4.25em - 40px);
	} */

	nav {
		margin-left: max(-270px, -100vw);
		max-width: 100vw;
		width: 270px;
	}

	nav::before {
		border-bottom-width: 6px;
		border-top-width: 18px;
		height: 30px;
		right: -30px;
		width: 30px;
	}
}