body {
	color: white;
	background-color: #232323;
	display: grid;
	font-family: sans-serif;
	font-size: 2vw;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;
	height: 100vh;
	padding: 0;
	margin: 0;
}



header {
	background-color: darkgreen;
	font-size: 4vw;
	grid-column: 2 span;
	padding: 0.5em;
}



main {
	height: 100%;
	overflow-y: auto;
}


nav {
	background-color: #303030;
	padding: 1em;
}

nav a {
	background-color: green;
	border-radius: 0.25em;
	color: inherit;
	line-height: 1.75em;
	padding: 0.25em;
	text-decoration: none;
	white-space: nowrap;
}

nav a:visited {
	background-color: darkgreen;
}


main {
	box-sizing: border-box;
	padding: 1em;
}

section {
	display: none;
}

section:target {
	display: initial;
}

img {
	width: 25em;
}

code {
	background-color: #505050;
	border-radius: 1em;
	line-height: 1.75em;
	padding: 0.25em;
}